.author-wrap {
	display: flex;
	gap: 1rem;
	color: #767676;
	font-size: 15px;
}
.author-wrap dd {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.created::before {
	content: "";
	display: block;
	width: 1px;
	height: 0.8em;
	margin-right: 1rem;
	background: #ddd;
}
