footer .max-width {
	display: flex;
	justify-content: center;
	height: 5em;
}

.top-button {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 4em;
	height: 4em;
	border: none;
	border-radius: 50%;
	background: black  url(../assets/ArrowTop.svg) no-repeat 50% 0.4rem / 3rem;
}
