header {
  background: #fff;
}
header .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 1rem 0;
}
  header h1 {
    font-size: 3rem;
  }
  header h1 a {
    display: block;
    padding: 0.4rem;
    margin-left: -0.4rem;
  }
header h1 a img {
  display: block;
}
header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}