.view .wrap-box h2 {
	margin-bottom: 0;
}

/* contents */
.view-contents img {
	max-width: 100%;
	margin: 30px 0;
}
.view-contents p {
	font-size: 18px;
	line-height: 1.6;
	text-align: justify;
	letter-spacing: -0.01em;
}

/* title */
.view .wrap-box .author-wrap {
	height: 102px;
	font-size: 22px;
}
.title-wrap {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 128px;
	margin-bottom: 16px;
	font-size: 26px;
}
.title-wrap h2 {
	width: 100%;
	text-transform: none;
}

@media (max-width: 1024px) {
	.title-wrap {
		flex-direction: column;
		gap: 32px;
	}
}

.title-wrap h2 {
	font-size: 51px;
	font-weight: bold;
}
.title-wrap button {
	flex-shrink: 0;
}

.view .wrap-box .btn-back {
	position: absolute;
	top: 128px;
	left: 0;
}

@media (max-width: 1024px) {
	.view .wrap-box .btn-back {
		top: 96px;
		width: 83px;
		height: 83px;
	}
	.view .wrap-box .author-wrap {
		height: 83px;
		margin-bottom: 16px;
	}
}

@media (max-width: 640px) {
	.view .wrap-box .btn-back {
		top: 64px;
	}
	.view .wrap-box .author-wrap {
		margin-bottom: 16px;
		padding-left: 48px;
	}
}
